<div
  class="relative flex flex-col min-w-0 break-words bg-grey rounded mb-6 xl:mb-0 shadow-lg"
>
  <div class="flex-auto p-4">
    <div class="flex flex-wrap">
      <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
        <h5 class="text-gray-500 uppercase font-bold text-xs">
          
        </h5>
        <span class="font-semibold text-xl text-gray-800">
          Contact Panel
        </span>
        <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password">
              leave a message to the RH 
            </label>
            <input
              type="textarea"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150 "
              placeholder="type your message here..."
            />
          </div>
          
      </div>
      
      
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x icon-background"></i>

        <i class="fas fa-envelope-open-text fa-stack-1x"></i>
      </span>
    </div>
    <p class="text-sm text-gray-500 mt-4">
      <span class="mr-2" [ngClass]="statPercentColor">
        <i
          [ngClass]="
            statArrow === 'up' ? 'fas fa-arrow-up' : 'fas fa-arrow-down'
          "
        ></i>
        
      </span>
      <span class="whitespace-no-wrap">
        <button routerLink="/SRH_Dashboard/add_user/"
        class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
      >
        Submit
      </button>
      </span>
    </p>
  </div>
</div>
